/* Глобальные настройки шрифта для всех элементов */
* {    
  font-family: "Terminess Nerd Font", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

/* 
   #ff9e00 - orange active ws - rgba(255, 158, 0, 0.90); 
   #e0f1f0 - light blue bg - rgba(224, 241, 240, 0.20);
   #3b817f - green bg - rgba(59, 129, 127, 0.80);
   #F1F9F8 - light fg - rgba(241, 249, 248, 0.90);
   #fbf4ca - ws bg - rgba(251, 244, 202, 0.8);
*/

window#waybar {    
  background: rgba(59, 129, 127, 0.50); 
    /*background: rgba(224, 241, 240, 0.20); */
  color: rgba(241, 249, 248, 0.90);
  border-radius: 0 0 12px 12px; 
}

.modules-left #workspaces button,
#workspaces button {
  color: #272727; 
  background: rgba(251, 244, 202, 0.8);  
  margin: 0; 
  border-radius: 0; 
  padding: 0 4px;
  transition: all 0.2s ease-in-out; 
}

.modules-left #workspaces button.active,
#workspaces button.active {
  color: #ffffff; 
  background: rgba(255, 158, 0, 0.98); 
}

#clock {
  color: #faedc1;
  padding: 0 12px; 
}

#mango-language, 
#language,
#pulseaudio, 
#network {
  padding: 0 12px;
}

#custom-launcher {
  padding: 0 20px;
  color: #ffbc70;
  transition: color 0.2s ease;
}

#custom-launcher:hover, 
#custom-power:hover {
  color: #ffffff;
}

#custom-power {
  padding: 0 20px;
  color: #D2F4EB;
  transition: color 0.2s ease;
}
