
window {
    background-image: url("/home/yopy/Pictures/futuro.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

button  {
    background-color: rgba (168, 214, 196, 0.90);       
    color: #FAF8F5;  
    border-radius: 12px;  
    padding:5rem;
    margin:1px;   
    transition: all 0.15s ease-in-out; 
}

button:focus, button:hover {
    background-color: #fb8b24;       
    color: #ffffff;   
    outline-style: none;
}

button label {    
    font-family: "Terminess Nerd Font", "Symbols Nerd Font";
    font-size: 18px;
    font-weight: 700;
}






